* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding: 5px;
}

/*Exercise 1 Styles:*/

h1 {
  margin-bottom: 10px;
}

div.card-container {
  border: 1px black solid;
  display: flex;
  margin-bottom: 10px;
}

div.card-container > img {
  height: 140px;
  padding: 0;
}

div.card-container > div > p {
  font-weight: bold;
  padding: 0;
}

div.card-container > div > p > span {
  font-weight: normal;
}

/*Exercise 2 Styles:*/

div.card-container > p {
  padding: 0;
}

/*Exercise 4 Styles:*/

.rgbCenter {
  flex-direction: column;
  align-items: center;
}

.rgb > div:first-child {
  color: white;
  padding: 20px;
}

.rgb > div:last-child {
  color: black;
  padding: 20px;
}

/*Exercise 4 Styles:*/

.CreditCard {
  margin: 10px;
  padding: 10px;
  width: 330px;
  border-radius: 10px;
  display: inline-block;
}

.CreditCard .type {
  text-align: right;
}

.CreditCard .type img {
  height: 30px;
}

.CreditCard .number {
  font-size: 1.8em;
  text-align: center;
  margin: 5px 0;
}

.bank {
  margin-left: 20px;
}
