* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding: 5px;
}

/*Exercise 1 Styles:*/

h1 {
  margin-bottom: 10px;
}

div.card-container {
  border: 1px black solid;
  display: flex;
  margin-bottom: 10px;
}

div.card-container > img {
  height: 140px;
  padding: 0;
}

div.card-container > div > p {
  font-weight: bold;
  padding: 0;
}

div.card-container > div > p > span {
  font-weight: normal;
}
