* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding: 5px;
}

/*Exercise 1 Styles:*/

h1 {
  margin-bottom: 10px;
}

div.card-container {
  border: 1px black solid;
  display: flex;
  margin-bottom: 10px;
}

div.card-container > img {
  height: 140px;
  padding: 0;
}

div.card-container > div > p {
  font-weight: bold;
  padding: 0;
}

div.card-container > div > p > span {
  font-weight: normal;
}

/*Exercise 2 Styles:*/

div.card-container > p {
  padding: 0;
}

/*Exercise 4 Styles:*/

.rgbCenter {
  flex-direction: column;
  align-items: center;
}

.rgb > div:first-child {
  color: white;
  padding: 20px;
}

.rgb > div:last-child {
  color: black;
  padding: 20px;
}

/*Exercise 4 Styles:*/

.CreditCard {
  margin: 10px;
  padding: 10px;
  width: 330px;
  border-radius: 10px;
  display: inline-block;
}

.CreditCard .type {
  text-align: right;
}

.CreditCard .type img {
  height: 30px;
}

.CreditCard .number {
  font-size: 1.8em;
  text-align: center;
  margin: 5px 0;
}

.bank {
  margin-left: 20px;
}

/*Exercise 6 Styles:*/

#rating {
  font-size: 2em;
}

/*Exercise 7 Styles:*/

.DriverCard {
  background-color: #425cbb;
  border-radius: 10px;
  color: #fff;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.DriverCard img {
  height: 120px;
  width: 120px;
  object-fit: cover;
  border-radius: 120px;
}

.DriverCard > div > p:nth-child(2) {
  font-size: 1.8em;
}

button.like-btn {
  margin: 10px 10px 20px 0;
  padding: 5px 10px;
  border: 1px solid rgb(0, 0, 0);
  color: white;
  font-size: 1.5em;
}

ul.NumbersTable {
  display: flex;
  flex-wrap: wrap;
}

ul.NumbersTable > li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

ul.NumbersTable > li.red {
  background-color: red;
}

ul.NumbersTable > li.white {
  background-color: white;
}

div#countryBtn button {
  background-color: white;
  padding: 5px;
  margin: 5px;
  font-size: 1.1em;
  border: 2px solid grey;
}

div#countryBtn button:hover {
  background-color: #a3d2e2;
}

div.card-container.white {
  background-color: white;
}

div.card-container.blue {
  background-color: #a3d2e2;
}

div#profile.hidden {
  display: none;
}
